.users-list-wrapper {
  @include flex-column;
  gap: 1.5rem;
  .header-title {
    color: $primary-darker;
    font-weight: 500;
  }
  .users-summary {
    @include flex-row;
    gap: 1.25rem;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .table-wrapper {
    border-radius: 4px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background: $white;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 1.875rem 1.875rem 1rem;
    overflow-x: auto;
  
    table.custom-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 0;
      white-space: nowrap;
  
      thead th {
        padding-right: 2.2875rem;
        padding-bottom: 1rem;
        text-align: left;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        .filter {
          margin-left: 0.625rem;
          svg {
            vertical-align: bottom;
            cursor: pointer;
          }
        }
      }
  
      tbody tr td {
        padding: 0.9375rem 2.2875rem 1rem 0;
        &.item-options {
          cursor: pointer;
        }
      }
      tbody tr:not(:last-child) {
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      }
    }
  }
  
  @media screen and (max-width: 991px) {
    gap: 2rem;
    .users-summary {
      flex-wrap: wrap;
      gap: 1.625rem;
    }
  }
  @media screen and (min-width: 1440px) {
    gap: 2.5rem;
    .users-summary {
      gap: 1.625rem;
    }
  }
}